modules = ["web", "python-3.12", "nodejs-20"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "gce"
run = ["sh", "-c", "python3 run.py"]

[[ports]]
localPort = 9999
externalPort = 80
