<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=no;" /> 	
    
    <title>Melonpy</title>
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main_page/main_page__main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='total.css') }}">

    <script src="https://kit.fontawesome.com/d15d3797c1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    
    <header>
        <div class="menu">
            <ul>
                <li>
                    <a href="{{ url_for('mainPage.mainPage__Main') }}">Home</a>
                </li>
                <li>
                    <a href="{{ url_for('mainPage.mainPage__Top100') }}">Top100</a>
                </li>
                <li>
                    <a href="{{ url_for('musicPage.musicPage__ArtistsRank') }}">Artist Rank</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- <img src="{{ url_for('static', filename='_img/Melonpy.svg') }}" width="80%" height="80%"> -->
    </header>

    <content>
        <!-- <img src="{{ url_for('static', filename='_img/Melonpy-center.svg') }}" width="50%" height="50%" class="melonpy-center"> -->
        <div class="contentBox">
            <span class="material-symbols-outlined" style="vertical-align: middle; color: red;">error</span>
            <span style="vertical-align: middle; font-weight: bold; font-size: 25px; color: red;">NOTICE</span><br>

        </div><br>

        <div class="contentBox"> <!-- Chart Top100 -->
            <span class="material-symbols-outlined" style="vertical-align: middle; color: red;">nest_remote_comfort_sensor</span>
            <span style="vertical-align: middle; font-weight: bold; font-size: 25px; color: red;">
                LIVE! <span style="color: black;">TOP100</span><br>
            </span>

            {% if pageMode == 'main' %}
                {% for song in listedMelonChart[:10] %}
                    <li style="display: flex; align-items: center; margin-top: 20px;">
                        <span style="font-weight: bold; font-size: 30px;">
                            {{ listNumbers(song['ranking'] - 1) }}
                        </span>
                        <div style="margin-left: 20px">
                            <a href="{{ url_for('musicPage.musicPage__Lyric', songid=song['songId']) }}" style="vertical-align: middle; font-size: 20px; font-weight: 500; color: black;">
                                {{ song['name'] }}
                            </a><br>
                            <span style="vertical-align: middle; font-size: 15px; color: gray; margin: 0;">
                                {{ song['artists'] }}
                            </span>
                        </div>
                    </li>
                {% endfor %}
                <div style="text-align: center;">
                    <a href="{{ url_for('mainPage.mainPage__Top100') }}" style="text-align: center; color: black;">
                        <span class="material-symbols-outlined">more_horiz</span>
                    </a>
                </div>
            
            {% elif pageMode == 'top100' %}
                {% for song in listedMelonChart %}
                    <li style="display: flex; align-items: center; margin-top: 20px;">
                        <span style="font-weight: bold; font-size: 30px;">
                            {{ listNumbers(song['ranking'] - 1) }}
                        </span>
                        <div style="margin-left: 20px">
                            <a href="{{ url_for('musicPage.musicPage__Lyric', songid=song['songId']) }}" style="vertical-align: middle; font-size: 20px; font-weight: 500; color: black;">
                                {{ song['name'] }}
                            </a><br>
                            <span style="vertical-align: middle; font-size: 15px; color: gray; margin: 0;">
                                {{ song['artists'] }}
                            </span>
                        </div>
                    </li>
                {% endfor %}
            {% endif %}
        </div>
    </content>

    <footer>
        Copyright &copy; 2024 <br>
        Made by. HanLuca <br><br>

        <a href=""> <!-- Discord -->
            <i class="fa-brands fa-discord"></i> 
        </a>
        <a href="https://www.instagram.com/tmdwns._.2023/"> <!-- Instagram -->
            <i class="fa-brands fa-instagram"></i>
        </a>

        <br><br>
        <span style="font-size: 12px;">
            이 서비스의 모든 저작권은 
            <a href="https://www.melon.com/" style="color: #05e532;">멜론음원사이트</a> 와
             <a href="" style="color: #0097b2;">Melonpy</a> 에게 존재합니다.
        </span>
    </footer>
    
</body>
</html>