<link rel="stylesheet" href="{{ url_for('static', filename='total.css') }}">

<style>
    .aboutBox {
        margin: 25px;
        display: inline-block;
        overflow: hidden;
        vertical-align: top;
    }

    .aboutTitle {
        font-size: 25px;
        font-weight: bold;
    }
    
</style>

{% extends 'layout.html' %}

{% block content %}
    <div class="aboutBox">
        <span class="aboutTitle">Design</span><br>
        <span style="color: var(--primary);">■</span> Background & base<br>
        <span style="color: var(--chart-1)">■</span> Functional Texts<br>
        <span style="color: darkgray;">■</span> Additional Texts
    </div>

    <div class="aboutBox">
        <span class="aboutTitle">Developer</span><br>
        [+] HanLuca 
        <a href="https://github.com/HanLuca">Github</a>
    </div>

    <div class="aboutBox">
        <span class="aboutTitle">Open Source</span><br>
        <a href="https://github.com/HanLuca/Melonpy">Github : Melonpy</a>
    </div>

    <div class="aboutBox">
        <span class="aboutTitle">Develop Tool</span><br>
        Server : python Flask<br>
        Web : HTML, CSS, Javascript<br>
        <br>
        <details>
            <summary>사용모듈</summary>
            <code title="requirements.txt">{{ usedModulFile | safe }}</code>
        </details>

        데이터 수집 및 출처 : melon.com
    </div>

{% endblock %}
