<style>

    .listNumberFont {
        vertical-align: middle;
        font-size: 30px;
        font-weight: bold;
    }

    .contentFont {
        vertical-align: middle;
        font-size: 20px;
        font-weight: 500;
        color: black;
    }

    .subFont { 
        font-size: 15px; 
        color: gray; 
        margin: 0;
    }
    
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='total.css') }}">

{% extends 'layout.html' %}

{% block content %}
    <div class="contentBox">
        <span class="material-symbols-outlined" style="vertical-align: middle; color: red;">nest_remote_comfort_sensor</span>
        <span style="vertical-align: middle; font-weight: bold; font-size: 25px; color: red;">
            LIVE! <span style="color: black;">ARTISTS RANK</span><br>
        </span>
        
        {% for i in range(0, 5) %}
            {% for k in range(0, Statistics['mode'][i] | length) %}
                <li style="display: flex; align-items: center; margin-top: 20px;">
                    <span class="listNumberFont" style="color: black;">{{ listNumbers(i) }}</span>
                    <div style="margin-left: 20px;">
                        <a href="{{ url_for('musicPage.musicPage__Artists', name=Statistics['mode'][i][k]) }}" class="contentFont">
                            {{ Statistics['mode'][i][k] }}
                        </a><br>
                        <span class="subFont">
                            <span style="vertical-align: middle;">{{ iconList[i] | safe }}</span> 
                            {{ Statistics['modeIndex'][i] }}곡의 노래 
                        </span>
                    </div>
                </li>

            {% endfor %}
        {% endfor %}
    </div>
    
{% endblock %}