<link rel="stylesheet" href="{{ url_for('static', filename='total.css') }}">

<style>
    .fixed-box {
        position: fixed;
        width: 15%;
        height: 50px;
        background-color: var(--primary);
        z-index: 1000;
        top: 66px;
        right: 20px;
        display: flex;
        align-items: center;
        justify-content: left;  
        color: white;
        border-radius: 10px;
        user-select: none;
    }

    .fixed-box .fixed-btn {
        margin-left: 10px;
        color: white;
        cursor: pointer;
    }

    .fixed-box .fixed-btn:hover {
        color: var(--chart-1);
    }

</style>

{% extends 'layout.html' %}

{% block content %}  
    <div class="loaddingBlock"></div>

    <div class="loading" style="display: none;">
        <div class="loader"></div>
        <span class="material-symbols-outlined" style="color: #f3f3f3; margin-bottom: 20px; color: light; z-index: 21; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">hourglass_top</span>
        <span style="font-weight: bold; z-index: 21; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">해당 곡의 통계를 불러오고 있습니다!</span>
    </div>

    <div style="margin-left: 20px; text-align: center;">
        <br>
        <span style="font-weight: bold; font-size: 25px;">{{ SongTitle }}</span>
        <br><br>
        {{ Lyric | safe }}
        <br>
    </div>
    <br>

    <div class="fixed-box">
        <a href="https://www.melon.com/song/detail.htm?songId={{ songid }}" target="_blank" class="material-symbols-outlined fixed-btn">play_arrow</a>
        <a href="{{ url_for('musicPage.musicPage__Statistics', songid=songid) }}" class="material-symbols-outlined fixed-btn" onclick="loadPage()">query_stats</a>
        <span style="margin-left: 10px; color: white;">┃</span>
        <span class="fixed-btn" style="margin-left: 10px; font-size: 13px;">{{ SongName }}</span>
    </div>
    
{% endblock %}  
