<link rel="stylesheet" href="{{ url_for('static', filename='total.css') }}">
<script src="{{ url_for('static', filename='Js/loading.js') }}"></script>

{% extends 'layout.html' %}

{% block content %}
    <div class="loaddingBlock"></div>

    <div class="contentBox">
        <div class="loading" style="display: none;">
            <div class="loader"></div>
            <span class="material-symbols-outlined" style="color: #f3f3f3; margin-bottom: 20px; color: light; z-index: 21; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">hourglass_top</span>
            <span style="font-weight: bold; z-index: 21; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">해당 곡의 통계를 불러오고 있습니다!</span>
        </div>
        
        <span class="material-symbols-outlined" style="vertical-align: middle; color: red;">nest_remote_comfort_sensor</span>
        <span style="vertical-align: middle; font-weight: bold; font-size: 25px; color: red;">
            LIVE! <span style="color: black;">TOP100</span><br>
        </span>

        {% for song in listedMelonChart %}
            <li style="display: flex; align-items: center; margin-top: 20px;">
                <span style="font-weight: bold; font-size: 30px; color: black;">
                    {{ listNumbers(song['ranking'] - 1) }}
                </span>
                <div style="margin-left: 20px">
                    <a href="{{ url_for('musicPage.musicPage__Lyric', songid=song['songId']) }}" style="vertical-align: middle; font-size: 20px; font-weight: 500; color: black;">
                        {{ song['name'] }}
                    </a><br>
                    <span style="vertical-align: middle; font-size: 15px; color: gray; margin: 0;">
                        {{ song['artists'] }}
                    </span>
                </div>
                <div style="vertical-align: middle; color: black; text-align: right; margin-left: auto; margin-right: 40px;">
                    <a href="{{ url_for('musicPage.musicPage__Statistics', songid=song['songId']) }}" class="material-symbols-outlined" onclick='loadPage()'>arrow_forward</a>
                </div>
            </li>
        {% endfor %}
    </div>

{% endblock %}