<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <script src="{{ url_for('static', filename='Js/loading.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='total.css') }}">

    <script src="https://kit.fontawesome.com/d15d3797c1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <div class="loaddingBlock"></div>

    <div class="loading" style="display: none;">
        <div class="loader"></div>
        <span class="material-symbols-outlined" style="color: #f3f3f3; margin-bottom: 20px; color: light; z-index: 21; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">hourglass_top</span>
        <span style="font-weight: bold; z-index: 21; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">정보를 불러오고 있습니다!<br>초기 로딩이라면 시간이 조금 걸릴 수 있습니다.</span>
    </div>

    <div>
        <header class="header">
            {% if backMode %}
                <a class="logo" href="{{ url_for(backMode) }}">
                    <span class="material-symbols-outlined">arrow_back_ios</span>
                </a>
            
            {% else %}
                <a class="logo" href="{{ url_for('mainPage.mainPage__Home') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-activity">
                        <path d="M21.21 15.89A10 10 0 1 1 8 2.83"></path>
                        <path d="M22 12A10 10 0 0 0 12 2v10z"></path>
                    </svg>
                    <span style="font-weight: bold; margin-left: 10px;">Melonpy</span>
                </a>
            {% endif %}
            
            {% if mainPage == True %}
                <!-- PASS -->

            {% else %}
                <nav class="nav">
                    <a class="nav-link" href="{{ url_for('musicPage.musicPage__Top100') }}" onclick='loadPage()'>Top100</a>
                    <a class="nav-link" href="{{ url_for('musicPage.musicPage__ArtistsRank') }}" onclick="loadPage()">Artists</a>
                    <a class="nav-link" href="{{ url_for('mainPage.mainPage__About') }}">About</a>
                    <a class="nav-link" href="{{ url_for('mainPage.mainPage__Setting', setting='None') }}">Setting</a>
                </nav>

            {% endif %}
        </header>

        <div>
            {% block content %}
            {% endblock %}
        </div>

        <footer class="footer" style="color: darkgrey; clear: both;">
            Copyright &copy; 2024 Melonpy. All rights reserved.<br>
            Made by. HanLuca <br><br>

            <a href=""> <!-- Discord -->
                <i class="fa-brands fa-discord" style="color: darkgray;"></i>
            </a>
            <a href="https://www.instagram.com/tmdwns._.2023/"> <!-- Instagram -->
                <i class="fa-brands fa-instagram" style="color: darkgray;"></i>
            </a>

            <br><br>
            <span style="font-size: 12px;">
                이 서비스의 모든 저작권은
                <a href="https://www.melon.com/" style="color: #05e532;">멜론음원사이트</a> 와
                <a href="" style="color: #0097b2;">Melonpy</a> 에게 존재합니다.
            </span>
        </footer>
    </div>
</body>

</html>